<!doctype html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Gränssnittsdesigner baserad i Göteborg, med fokus på komponentbaserade designsystem och tillgänglighet.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Robin Rundkvist – Gränssnittsdesigner" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Gränssnittsdesigner baserad i Göteborg, med fokus på komponentbaserade designsystem och tillgänglighet." />
    <meta property="og:image" content="http://robinrundkvist.se/assets/images/share-img.png" />
    <title>Robin Rundkvist – Gränssittsdesigner</title>
    <%= favicon_tag 'favicon.ico' %>
    <%= javascript_include_tag "main" %>
    <%= stylesheet_link_tag "main" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
