//
// UTILITIES / MISC
//-----------------------------------------------------------------------

.u-pointer, .u-pointer-negative {
  &:after {
    content: '';
    position: relative;
    top: -2px;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 18px;
    margin-left: $space-tiny-md;
    background: image-url('icon-pointer-red.svg') no-repeat;
    transition: left 0.1s ease-out;
  }

  &:hover:after {
    left: 3px;
  }

  &.button:hover:after {
    background-image: image-url('icon-pointer-white.svg');
  }
}

.u-pointer-negative {
  &:after {
    background-image: image-url('icon-pointer-white.svg');
  }
}

.u-dotted-bottom {
  $height: 9px;
  $width: 144px;

  position: relative;
  padding-bottom: calc(#{$space-base-md} + #{$height});

  &:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: calc(50% - (#{$width} / 2));
    background: image-url('dotted-break.svg') no-repeat;
    width: $width;
    height: $height;
  }
}

.u-dotted-top {
  $height: 9px;
  $width: 144px;

  position: relative;
  padding-top: calc(#{$space-base-md} + #{$height});

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: calc(50% - (#{$width} / 2));
    background: image-url('dotted-break.svg') no-repeat;
    width: $width;
    height: $height;
  }
}
