//
// UTILITIES / SPACING
//-----------------------------------------------------------------------

// Top margin
// -------------------------

.u-margin-top-none {
  margin-top: 0 !important;
}

.u-margin-left-tiny {
  margin-left: $space-tiny !important;

  @media #{$medium} {
    margin-left: $space-tiny-md !important;
  }
}

.u-margin-top-xsmall {
  margin-top: $space-xsmall !important;

  @media #{$medium} {
    margin-top: $space-xsmall-md !important;
  }
}

.u-margin-top-small {
  margin-top: $space-small !important;

  @media #{$medium} {
    margin-top: $space-small-md !important;
  }
}

.u-margin-top-baseline {
  margin-top: $space-base !important;

  @media #{$medium} {
    margin-top: $space-base-md !important;
  }
}

.u-margin-top-large {
  margin-top: $space-large !important;

  @media #{$medium} {
    margin-top: $space-large-md !important;
  }
}

.u-margin-top-xlarge {
  margin-top: $space-xlarge !important;

  @media #{$medium} {
    margin-top: $space-xlarge-md !important;
  }
}

.u-margin-top-huge {
  margin-top: $space-huge !important;

  @media #{$medium} {
    margin-top: $space-huge-md !important;
  }
}
