<div class="navbar" role="navigation">
  <ul class="navbar__menu">
    <li class="navbar__logo navbar__divider">
      <a href="" class="navbar__link">
        <%= image_tag "zetkin-logo@2x.png", alt: "Zetkin" %>
      </a>
    </li>
    <li class="dropdown">
      <a href="" class="navbar__link">Lär dig Zetkin</a>
      <ul class="dropdown__menu">
        <li><a href="#" class="dropdown__link">Menu item</a></li>
        <li><a href="#" class="dropdown__link">Menu item</a></li>
        <li><a href="#" class="dropdown__link">Menu item</a></li>
        <li><a href="#" class="dropdown__link">Menu item</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="" class="navbar__link">Bidra till Zetkin</a>
      <ul class="dropdown__menu">
        <li><a href="#" class="dropdown__link">Menu item</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="" class="navbar__link">Om Zetkin Foundation</a>
      <ul class="dropdown__menu">
        <li><a href="#" class="dropdown__link">Menu item</a></li>
      </ul>
    </li>
  </ul>
  <ul class="navbar__menu">
    <li class="dropdown">
      <a href="#" class="navbar__link navbar__link--muted">Språk: Svenska</a>
      <ul class="dropdown__menu">
        <li><a href="#" class="dropdown__link">✓ Svenska</a></li>
        <li><a href="#" class="dropdown__link">English</a></li>
        <li><a href="#" class="dropdown__link">Deutsch</a></li>
      </ul>
    </li>
    <li>
      <a href="#" class="button navbar__button u-pointer">Logga in</a>
    </li>
  </ul>
</div>
<div class="main" role="main">
  <div class="section">
    <div class="container">
      <h1 class="u-dotted-bottom u-margin-bottom-huge">Ett annorlunda företag</h1>
      <p class="u-text-lede">Zetkin utvecklas av Zetkin Foundation – ett företag vars syfte inte är att göra vinst, utan att bidra till radikal samhällsförändring i socialistisk, feministisk, antirasistisk och hållbar riktning. Det gör Zetkin till något alldeles speciellt.</p>
      <p>Zetkin Foundation ägs och styrs demokratiskt av medlemmarna i Vänsterpartiet Malmö. Det innebär att Zetkin Foundation är ett väldigt annorlunda företag.</p>
      <h2>Av aktivister, för aktivister</h2>
      <p>Från vår vardag som aktivister i Malmös vänsterrörelse tar vi med oss många erfarenheter, och framförallt, en attityd. En idé om att vi kan åstadkomma stora saker när vi jobbar tillsammans, även om resurserna är små. Vänsterns styrka är vårt antal.</p>
      <p>När vi utvecklar Zetkin gör vi det därför med aktivistiska metoder. Stora delar av arbetet sker ideellt. Vår styrelse är en arbetande styrelse, som skiljer sig från de flesta bolagsstyrelser. Vi har utformat vår organisation för att det ska vara enkelt att bidra efter förmåga.</p>
      <h3>Tredje nivå rubrik</h3>
      <p>Det innebär att vi inte bara utvecklar ett verktyg för aktivister, utan vi gör det genom att själva vara aktivister. Precis som vi alltid har varit.</p>
    </div>
  </div>
  <div class="section section--bordered u-text-center">
    <div class="container">
      <h2 class="u-h2 u-dotted-top">Vill du använda Zetkin i din organisation?</h2>
      <p>Om din organisation jobbar mot samma mål som Zetkin Foundation vill vi gärna hjälpa er utveckla er aktivism.</p>
      <a href="#" class="button button--primary u-pointer-negative u-margin-top-large">Anslut din organisation</a>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="footer__logo">
      <%= image_tag "zetkin-logo@2x.png", alt: "Zetkin" %>
    </div>
    <div class="footer__body">
      <ul class="list list--inline" role="navigation">
        <li><a href="#">Lär dig Zetkin</a></li>
        <li class="list__divider"><a href="#">Bidra till Zetkin</a></li>
        <li class="list__divider"><a href="#">Om Zetkin Foundation</a></li>
        <li class="list__divider"><a href="#">Logga in</a></li>
      </ul>
      <ul class="list list--inline u-margin-top-xsmall">
        <li>Språk:</li>
        <li><a href="#"><strong>✓ Svenska</strong></a></li>
        <li class="list__divider"><a href="#">English</a></li>
        <li class="list__divider"><a href="#">Deutsch</a></li>
      </ul>
      <ul class="list list--inline u-margin-top-xsmall">
        <li>Support:</li>
        <li><a href="#">info@zetkin.org</a></li>
        <li class="list__divider"><a href="#">Zetkin Foundation på Facebook</a></li>
      </ul>
    </div>
  </div>
</div>
