<div class="navbar" role="navigation">
  <ul class="navbar__menu">
    <li class="navbar__logo navbar__divider">
      <a href="" class="navbar__link">
        <%= image_tag "zetkin-logo@2x.png", alt: "Zetkin" %>
      </a>
    </li>
    <li class="dropdown">
      <a href="" class="navbar__link">Lär dig Zetkin</a>
      <ul class="dropdown__menu">
        <li><a href="#" class="dropdown__link">Manual</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="" class="navbar__link">Bidra till Zetkin</a>
      <ul class="dropdown__menu">
        <li><a href="#" class="dropdown__link">Manual</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="" class="navbar__link">Om Zetkin Foundation</a>
      <ul class="dropdown__menu">
        <li><a href="#" class="dropdown__link">Manual</a></li>
      </ul>
    </li>
  </ul>
  <ul class="navbar__menu">
    <li class="dropdown navbar__divider">
      <a href="#" class="navbar__link navbar__link--muted">Språk: Svenska</a>
      <ul class="dropdown__menu"></ul>
    </li>
    <li>
      <a href="#" class="button navbar__button">Logga in</a>
    </li>
  </ul>
</div>
<div class="main" role="main">
  <div class="hero">
    <div class="container">
      <h1 class="hero__title">Delta i kampen för rättvisa</h1>
      <p class="hero__subtitle">Zetkin är ett system för att organisera aktivism.</p>
      <div class="hero__product">
        <img src="" alt="">
      </div>
      <a href="#" class="button button--primary button--large hero__cta u-link-pointer">Logga in på Zetkin</a>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <p class="u-text-center">Zetkin är en webbaserad plattform för att underlätta engagemang i vänsterradikala organisationer. Det används av organisationer och av enskilda aktivister som deltar i organisationernas arbete.</p>
      <div class="grid grid--3-columns">
        <div class="blurb">
          <div class="blurb__icon"></div>
          <h3 class="blurb__title">Lär dig Zetkin</h3>
          <p class="blurb__text">Om du vill lära dig hur man använder Zetkin är vår uttömmande manual en bra plats att börja.</p>
          <div class="blurb__actions">
            <a href="#" class="u-link-pointer">Manual för aktivister</a>
            <a href="#" class="u-link-pointer">Manual för organisatörer</a>
          </div>
        </div>
        <div class="blurb">
          <div class="blurb__icon"></div>
          <h3 class="blurb__title">Bidra till Zetkin</h3>
          <p class="blurb__text">Zetkin är ett verktyg för rörelsen, av rörelsen. Det är genom att vi slår våra gemensamma resurser ihop som Zetkin blir möjligt.</p>
          <div class="blurb__actions">
            <a href="#" class="u-link-pointer">Bidra med tid</a>
            <a href="#" class="u-link-pointer">Bidra med pengar</a>
          </div>
        </div>
        <div class="blurb">
          <div class="blurb__icon"></div>
          <h3 class="blurb__title">Om Zetkin Foundation</h3>
          <p class="blurb__text">Zetkin Foundation ägs och styrs demokratiskt av medlemmarna i Vänsterpartiet Malmö. Det innebär att Zetkin Foundation är ett väldigt annorlunda företag.</p>
          <div class="blurb__actions">
            <a href="#" class="u-link-pointer">Våra tjänster</a>
            <a href="#" class="u-link-pointer">Historien bakom Zetkin</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section--band" style="background-image: url();">
    <div class="container">
      <div class="testimonial">
        <img src="" alt="" class="testimonial__headshot">
        <blockquote class="testmonial__quote">
          <span class="u-text-mark">Det var när vi började ringa med Zetkin som det verkligen tog fart.</span>
          <cite><strong>Emma-Lina Johansson</strong>, Vänsterpartiet Malmö, om partiföreningens stora medlemsenkät som genomförs med hjälp av Zetkin.</cite>
        </blockquote>
        <a href="#" class="u-link-pointer">Läs hela fallstudien</a>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <h2 class="u-text-center">Bidra till Zetkin</h2>
      <p class="u-text-center u-text-large">Zetkin utvecklas till stor del av ideella krafter. Som volontär kan man programmera, formge, skriva dokumentation, göra användarstudier, eller bidra på en mängd andra sätt. Vi tar även emot donationer till utvecklingsfonden.</p>
    </div>
  </div>
</div>
